@import url('https://fonts.googleapis.com/css2?family=Lato&family=Prompt:wght@600&display=swap');
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
