.Product_Page {
  display: flex;
}
.Products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  background: fixed;
  justify-items: center;
  margin: 20px 0;
}
.ProductsnoGird {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  background: fixed;
  justify-items: center;
  margin: 20px 0;
}
@media (width < 600px) {
  .Products {
    display: grid;
    gap: 55px;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    padding: 0 30px 30px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
  }
  .Product_card_imgContainer img {
    height: 100px;
  }
}
/* .right_search{
    display: flex;
    flex-direction: row-reverse
} */
/* ============= Side Bar ============= */

@import url('../sidebar/SideBar.css');
/* ============= Product Item ============= */

@import url('../../utils/productitem/ProductItem.css');
