.Container {
  width: 50%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
/* LEFT SIDE */
.Left {
  width: 50vw;
}

.BoxTitle {
  margin: auto;
  width: 100%;

  border-bottom: 1px solid #a8a4a4;
  padding: 10px;
  text-align: left;
}

.Container form {
  width: 100%;
  padding-bottom: 10px;
}

form .checkout-file {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
label {
  text-align: left;
}
.inputContainer {
  width: 100%;
}
.inputContainer input {
  height: 30px;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgb(151, 149, 149);
  border-radius: 3px;
}
.Name-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Name-box input {
  width: 100%;
}
.FirstName-input {
  margin-right: 20px;
}
.require {
  color: rgb(235, 8, 8);
}

/* RIGHT SIDE */
/* .right {
  width: 40vw;
}
.CartItem {
  width: 100%;
  text-align: left;
  border-spacing: 0 !important;
}
.CartItem tr td {
  border: 1px solid #a8a4a4;
  border-collapse: collapse;
  padding: 10px;
}

.form-bottom {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: flex-end;
}

.form-bottom button:hover {
  background-color: rgb(40, 130, 247);
} */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (width <700px) {
  .Container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }
  .Left {
    font-size: 0.875rem;
    width: 80%;
    margin-bottom: 10px;
  }
  .right {
    font-size: 0.75rem;
    width: 80%;
  }
}
