.box_detail {
  max-width: 500px;
  width: 100%;
  margin: 5px 20px;
}

.box_detail .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_detail h2 {
  text-transform: uppercase;
  color: darkblue;
  letter-spacing: 2px;
  font-weight: 2rem;
}

.box_detail p {
  line-height: 10px 0;
  margin: 10px 0;
  opacity: 0.8;
}

.box_detail .cart {
  background: #333;
  color: white;
  margin-top: 10px;
  padding: 10px 25px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.DetailProduct {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  font-size: 150%;
  overflow: hidden;
}

.DetailProduct img {
  max-width: 400px;
  width: 100%;
  margin: 20px;
  height: 450px;
  transform-origin: 50%, 50%;
  display: block;
}

.detail_content {
  align-items: center;
  display: flex;
  font-size: 0.8em;
}

.related_product > h2 {
  width: 100%;
  border-bottom: 2px solid;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background: fixed;
  justify-items: center;
}
.detail_description {
  overflow: auto;
}
.detail_description > h2 {
  width: 100%;
  color: crimson;
  border-bottom: 2px solid;
}
.detail_description_content {
  margin: 10px 20px;
}
.detail_description_content > pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;

  white-space: -pre-wrap;

  white-space: -o-pre-wrap;

  word-wrap: break-word;
}

.box_detail div span {
  width: 17%;
  font-size: 0.875rem;
  text-transform: capitalize;
  padding: 0 10px 0 13px;
  border-radius: 4px 4px 8px 8px;

  color: #fff;
  clip-path: polygon(0 0, 100% 0, 97% 100%, 4% 100%);
}
.InStock {
  background-color: #39b54a;
}
.OutOfStock {
  background-color: #fcb900;
}
.disabled-link {
  pointer-events: none;
  color: gray;
}
.addCartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 177px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 700;
  margin-top: 35px;
  white-space: nowrap;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  text-transform: capitalize;
  background-color: #6839cc;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}
.addCartBtn a {
  color: #fff;
}
.AddToCart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.quantity {
  height: 40px;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}
.quantity input {
  width: 40px;
}
.minus {
  -webkit-border-top-left-radius: 200px;
  -webkit-border-bottom-left-radius: 200px;
  -moz-border-radius-topleft: 200px;
  -moz-border-radius-bottomleft: 200px;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}
.plus {
  -webkit-border-top-right-radius: 200px;
  -webkit-border-bottom-right-radius: 200px;
  -moz-border-radius-topright: 200px;
  -moz-border-radius-bottomright: 200px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
