/* Review */
.Review-container {
  flex-direction: column;
  text-align: left;
  padding: 10px;
  border: 2px solid #979696;
  border-radius: 4px;
}
.Review-container select {
  border-radius: 2px;
  width: 100%;
}
#comment {
  resize: none;
  border-radius: 5px;
  width: 100%;
}
.review-rating {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}
.review-rating div {
  padding-left: 10px;
  margin: 0;
}

.review-submit {
  margin: 20px;
}
.review-submit:hover {
  background-color: blue;
}
.avage-rating {
  display: flex;
  flex-direction: row;
}
