.button {
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 7px 12px;
  text-align: left;
  order: 3;
  margin-left: auto;
  border: none;
  color: #fff;
  border-radius: 22px;
  text-transform: unset;
  background-color: #6839cc;
  width: 85px;
  transition: all 0.3s ease;
}
.button::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}
.button:hover > .FilterBtn {
  background-color: #ff782c;
  color: #fff;
}

.FilterBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
}
