.cart {
  position: relative;
  border: 1px solid #ccc;
  transform: scaleY(0.98);
  border: none;
  display: grid;
  grid-template-columns: 70% 20%;
  justify-content: center;
}
.cart table {
  width: 100%;
  outline: none;
}
.cart img {
  width: 100px;
  height: 100px;
  object-fit: out;
}

.quantity span {
  color: crimson;
  padding: 0 20px;
}

.quantity button {
  width: 40px;
  height: 40px;
  border: 1px solid #777;
}

.delete {
  /* position: absolute ;
    top : 0px ;
    right : 5px ; */
  color: crimson;
  font-weight: 900;
  cursor: pointer;
}

.total {
  width: 100%;
  min-height: 200px;
  margin-left: 20px !important;
  justify-content: space-between;
  justify-content: center;
  margin: auto;
  border: 1px solid;
  padding: 20px;
}

.total h3 {
  text-align: left;
  color: crimson;
  margin-bottom: 10px;
}
.total_wrap {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}
.total_wrap_span {
  width: 100%;

  display: flex;
  justify-content: space-between;
  border-bottom: 1px #ddd solid;
}
.Checkout {
  width: 100%;
  margin-top: 10px;
  font-size: 0.875rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #fff;
  height: 30px;
  background-color: crimson;
}
@media (width < 700px) {
  .cart {
    display: flex;
    flex-direction: column;
  }
  .total {
    margin: 20px 0;
  }
}
