.carousel-container {
  padding: 20px 0 20px;
  max-width: 100vw;
  height: 500px;
  background-color: #fcfcfe;
  display: flex;
  position: relative;
  padding: 0;
}

.carousel {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  background-color: #ffffff;
}
.carousel-left {
  left: 10%;
  position: absolute;
  z-index: 10;
  /* margin: auto 10%; */
  text-align: left;
  width: 30%;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.carousel-right {
  position: absolute;
}

.toShop {
  position: relative;
  font-size: 14px;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 7px 12px;
  text-align: left;
  order: 3;
  margin-left: auto;
  border: none;
  color: #fff;
  border-radius: 22px;
  text-transform: unset;
  background-color: #6839cc;
  width: 100px;
  transition: all 0.3s ease;
}
.toShop::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}
.toShop:hover > .FilterBtn {
  background-color: #ff782c;
  color: #fff;
}

.special {
  text-transform: uppercase;
  color: #ff782c;
}
/* .carousel-left span {
  color: black !important;
} */

.carousel-item {
  display: flex;
  position: relative;
  flex: 1 0 100%;
  scroll-snap-align: start;
  border: 1px px solid #e3e1e1 !important;
  overflow: hidden;
}

/* .carousel-item a {
  height: 100%;
  width: 50%;
  overflow: hidden;
  margin: 0 auto;
  z-index: 0;
} */
.carousel-item img {
  height: 100%;
  width: 100%;
}

.carousel-item p {
  position: absolute;
  transition: all 0.5s ease-in-out;
  bottom: 0;
  inset: auto 0 0 0;

  text-align: center;
  color: white;
  font-size: 2rem;
}

.carousel-btn {
  height: 30px;
  width: 30px;
  position: absolute;
  transform: rotate(45deg);
  z-index: 2;
  top: 50%;
  cursor: pointer;
  display: none;
}
.carouselindicator-container {
  z-index: 99999;
  position: absolute;
  bottom: 0;
  left: 45%;
  bottom: 5px;
}
.carouselindicator-wrap {
  display: flex;
}

.carouselindicator-wrap li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: black;
  cursor: pointer;
}

@media (width > 600px) {
  .carousel-btn {
    display: inline-block;
  }

  .carousel-item.active p {
    opacity: 1;
    transform: scale(1.1) translateY(-40px);
  }

  .caruosel-item p {
    opacity: 0;
  }
}
@media (width < 600px) {
  .carousel-container {
    display: none;
  }
  .special {
  }
  .title {
  }
  .content {
  }
  .toShop {
  }
}
.left-btn {
  border-bottom: 4px solid rgb(78, 78, 78);
  border-left: 4px solid rgb(78, 78, 78);
  left: 20px;
}

.right-btn {
  border-right: 4px solid rgb(78, 78, 78);
  border-top: 4px solid rgb(78, 78, 78);
  right: 20px;
}

.carousel::-webkit-scrollbar {
  height: 0;
  width: 0;
}
